.header {
    z-index: 10;
    height: 70px;
    background: #303030;
    margin-bottom: 1.45rem;
}

.navdiv {
    margin: 0 auto;
    max-width: 960;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 0.5;
}

.navbar {
    display: flex;
    flex: 1; 
    flex-direction: row;
    margin-left: 0;
}

.navlinks {
    list-style-type: none;
    padding: 1rem;
}

.buttongroup1 {
    display: flex;
}

.buttongroup2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

.button {
    margin-left: 15px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    text-align: center;
}

.signinout {
    background-color: #303030;
    text-decoration-color: #ffffff;
    border: 2px solid #ffffff;
}

.signup {
    margin-right: 20px;
    background-color: #ffffff;
    text-decoration-color: #000000;
}

.link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}

.link:active,
.link:hover, 
.active,
.hiddenLink:hover {
    text-decoration: underline;
    color: #ffb300;
    text-decoration-color: #ffb300;
}

.blackButtonText {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.whiteButtonText {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.icons {
    color: #ffffff;
    font-size: 2em;
    margin-left: 15px;
    cursor: pointer;
}

.icons:hover,
.icons:active {
    color: #ffb300;
}

.moreButton {
    color: #ffffff;
    font-size: 3em;
    cursor: pointer;
}

.moreButton:hover, .activeMoreButton {
    color: #ffb300;
}

.mobdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 7px;
    margin-right: 10px;
}

.hiddenItems {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    right: 0;
    width: 350px;
    height: 300px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}

.item {
    height: 70px;
}

.item:hover {
    background-color: #e8e8e8;
}

.hiddenLink {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-decoration: none;
    color: #303030;
    cursor: pointer;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
}
